.footer {
    background-color:  var(--primary-color);
  }
  
  .footer .contact-us-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 7px 60px 7px 60px;
    text-align: center;
  }
  
  .footer img {
    display: block;
    max-height: 40px;
  }
  