<nav class="navbar navbar-expand-lg navbar-light p-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- <div class="navbar-logo-left d-flex align-items-center">
        <img src="assets/Images/KingdomLAS1.png" alt="KingdomLAS1 Logo" height="40" class="council-logo"/>
        <img src="assets/Images/Line.png" alt="vertical line" height="40" class="mx-3"/>
        <img [src]="councilLogo" alt="Council Logo" class="council-logo" height="40" (error)="onImageError($event)" />
      </div> -->
    <div class="navbar-logo-left d-flex align-items-center">
      <div class="logo-wrapper">
        <img src="assets/Images/KingdomLAS1.png" alt="KingdomLAS1 Logo" class="council-logo" />
      </div>

      <img src="assets/Images/Line.png" alt="vertical line" height="40" class="mx-3" />

      <div class="logo-wrapper">
        <img [src]="councilLogo" alt="Council Logo" class="council-logo" (error)="onImageError($event)" />
      </div>
    </div>


    <div class="navbar-lang-toggle">
      <a role="button" (click)="ChangeLang()" (keydown.enter)="ChangeLang()" aria-label="Change Language"
        tabindex="0">{{ getToggleLangLabel() }}</a>
    </div>
  </div>
</nav>