.navbar {
  background-color: var(--primary-color);
  height: 90px;
}

.navbar-logo-left {
  justify-content: center;
  overflow: hidden;
}


.navbar-logo-left .council-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.logo-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
}

.navbar-lang-toggle a {
  font-size: 14px;
  color: var(--secondary-color);
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
