.navbar {
  background-color: var(--primary-color);
  height: 90px;
}

.navbar-logo-left {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.navbar-logo-left .council-logo {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 90px !important;
  display: block;
  object-fit: contain;
}


.navbar-lang-toggle a {
  font-size: 14px;
  color: var(--secondary-color);
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}